<div class="cntrl-btns clear-fix  board">
    <h3><i class="icon-edit"></i> Easy rules to start the Quiz!</h3>
    <ul>
        <li>There will be {{questionArr.length}} questions.</li>
        <li>Anytime you can skip the question.</li>
        <li style="background:none;">Ready?</li>
    </ul>
    <div id="playerNavigation">
        <div id="authorPagination">
            <a href="#/question/0"><button id="btn-next">Let's Get Started</button></a>
        </div>
    </div>
</div>

<style>
    #author_content_container{display:none;}
</style>