<div class="alert alert-success">
    <strong><i class="fa fa-check"></i> Hello {{userInfo.first_name}},</strong> Check Quiz Status for <strong>{{studentInfo.first_name}}</strong>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default" ng-repeat="quiz in quizData" ng-init="key = studentInfo.id + '_' + quiz.testID">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="" ng-click="collapse(quiz.testID)"><i class="fa fa-hand-o-right"></i> {{quiz.title}} <span class="badge pull-right" ng-if="studentQuizData[key]">{{studentQuizData[key].resultPercentage}}%</span></a>
            </h4>
        </div>
        
        <div id="collapse{{quiz.testID}}" class="panel-collapse" ng-show="accordion == '{{quiz.testID}}'">
            <div class="panel-body">
                <div> <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.</p>
                </div>

                <div class="row center-pagination">
                    <ul class="pagination">
                        <li class=""><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #author_content_container{display:none;}
</style>