<div class="alert alert-success">
    <i class="fa fa-check"></i> Hello <strong>{{userInfo.first_name}},</strong> you are logged in! Select the user from the list below to check their result.
</div>

<div>
    <!--<a href="#" class="list-group-item active">Scholastic Test1</a>-->
    <ul class="student-list">
        <li ng-repeat="student in allStudents">
            <a ng-href="#/student/{{student.id}}"><i class="fa fa-user icon-user"></i> {{student.first_name + ' ' + student.last_name}}</a>
        </li>
    </ul>
</div>
<style>
    #author_content_container{display:none;}
</style>