/* #row1{
    border-bottom:1px solid #f1f1f1;
} */

.multiplicationWidget{
    border-left:1px solid #f1f1f1;
    font-size:inherit;
}

.multiplicationWidget .Addgridsquare{
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    float: left;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.multiplicationWidget input{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size:inherit;
}

.multiplicationWidget .answerField{
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    color:black;
    font-size:inherit;
}

.multiplicationWidget .carryField{
    width:40px;
    height:20px;
    line-height: 20px;
    text-align: center;
    color:black;
    background-color: transparent;
    font-size:12px;
}

.multiplicationWidget .midAnswerField{
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    color:black;
    font-weight: normal;
    /* font-size:16px; */
}
/* .multiplicationWidget #row2 .Addgridsquare, .multiplicationWidget #row3 .Addgridsquare {
        height:20px;	
}

.multiplicationWidget #row2 .AddgridsquareFull, .multiplicationWidget #row3 .AddgridsquareFull {
        height:20px;	
} */
.multiplicationWidget #row1 .digit{

}
#multiplicationWidget_pop_singleton{
    width: 450px;
}

#multiplicationWidget_pop_singleton label{
    width: 300px;
}

/*Full abbreviation Grid  */
.multiplicationWidget .AddgridsquareFull{
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    float: left;
    text-align: center;
    width: 90px;
    height: 40px;
    line-height: 40px;
}

.multiplicationWidget .answerFieldFull{
    width:90px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    color:black;

    font-size:inherit;
}

.multiplicationWidget  .carryFieldFull{
    width:90px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color:black;
    background-color: transparent;
    font-size:inheritv;
}
.multiplicationWidget .height20{
    height: 20px;
    line-height: 20px;
}