/*placing any div in the center*/

#label_pop_singleton{
    width: 480px;
 }
 
 #editorDiv{
     display: none;
 }
 
 #conentDiv{
     padding: 10px;
 }
input.wid{
	background:transparent;color:magenta;font-weight:bold;text-align:center;border:2px solid transparent;
}
